// Colors
$black: #000000;
$turquoise: #438792;
$emerald: #2ecc71;
$nephritis: #27ae60;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$belize-hole: #2980b9;
$peter-river: #3498db;
$carrot: #e67e22;
$clouds: #ecf0f1;
$white: white;